@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ededed;
}

.container {
  width: 90%;
}

.fixed-card {
  width: 200px;
  img {
    width: 200px;
    height: 250px;
    object-fit: cover;
  }
}
